@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800&family=Open+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800&family=Open+Sans:wght@700&family=Poppins:wght@300;400;500;600;700;800&display=swap');
::-webkit-scrollbar {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background: linear-gradient(119deg, #bd00ff 21.38%, #3604c3 129.88%);
}
* {
  color: #ffffff;
  list-style: none;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  outline: none;
}
body {
  font-family: sans-serif;
  background-color: #020202;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.borderText {
  font-weight: 800;
  font-family: 'Poppins', sans-serif;
  -webkit-text-fill-color: #000;
  -webkit-text-stroke: 1.5px #fff;
  letter-spacing: 2.5px;
}
.buttonClose {
  position: absolute;
  margin-left: 1000px;
  margin-top: 90px;
  display: block;
  width: 24px;
  height: 24px;
}
.buttonClose::after {
  content: url('../img/email/ButtonClose.svg');
  display: block;
  width: 24px;
  height: 24px;
}
.buttonClose:hover:after {
  content: url('../img/email/ButtonCloseHover.svg');
}
.emailForm {
  margin-top: 140px;
  width: 800px;
  height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('../img/Ellipse.svg');
}
h1 {
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
p {
  width: 527px;
  color: #a1a1a1;
  text-align: center;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}

form {
  margin-top: 64px;
  width: 545px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
input {
  padding: 16px 24px;
  align-items: center;
  gap: 10px;
  color: white;
  background: transparent;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.16px;
  border-radius: 26px;
  border: 2px solid #c2c2c2;
}
.text:focus {
  border: 2px solid #ffffff;
}
/* .text:invalid {
  border: 1px solid #FCFCFC;
  color: red;
} */
/* .text:required {
  border: 1px solid #FCFCFC;
  color: red;
} */
.message {
  padding-bottom: 100px;
}
.message:focus {
  border: 2px solid #ffffff;
}
.button {
  display: flex;
  height: 50px;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 39px;
  background: linear-gradient(119deg, #bd00ff 21.38%, #3604c3 129.88%);
  border: none;
}
