.slider-name {
  margin-bottom: 140px;
  height: min-content;
  width: 1180px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.slider-name div {
  display: flex;
  gap: 44px;
}
.swiper-button-prev-custom {
  width: 56px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #595959;
  border-radius: 1000px;
}
.swiper-button-next-custom {
  width: 56px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #595959;
  border-radius: 1000px;
}
.swiper-button-prev-custom:hover {
  border: 2px solid #fcfcfc;
}
.swiper-button-next-custom:hover {
  border: 2px solid #fcfcfc;
}
.swiper-button-prev-custom::after {
  position: relative;
  padding-top: 3px;
  padding-right: 3px;
  width: 24px;
  height: 21px;
  font-family: swiper-icons;
  content: 'prev';
  font-size: 20px;
  text-align: center;
  color: white;
}
.swiper-button-next-custom::after {
  position: relative;
  padding-top: 3px;
  padding-left: 3px;
  width: 24px;
  height: 21px;
  font-family: swiper-icons;
  content: 'next';
  font-size: 20px;
  text-align: center;
  color: white;
}
#ourTeam {
  margin-bottom: 160px;
  width: 1180px;
  background: #000;
}
#ourTeam h2 {
  color: #fcfcfc;
  text-align: center;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.swiper .imageBW {
  width: 300px;
  height: 300px;
  object-fit: cover;
}
.swiper .imageC {
  width: 0;
  height: 0;
}
.mySwiper * {
  user-select: none;
}
.mySwiper {
  margin-left: -40px;
  width: 936px;
  z-index: 0;
}
.prevSlider {
  width: 234px;
  height: 300px;
}
.contend {
  width: 24px;
  height: 24px;
  display: none;
}
.swiperBox {
  margin-top: -25px;
  position: absolute;
  z-index: 1;
  margin-left: 755px;
  width: 430px;
  height: 320px;
  display: flex;
  border-radius: 32px;
  background: linear-gradient(119deg, #bd00ff 21.38%, #3604c3 129.88%);
}
.mySwiperBox {
  margin-top: -25px;
  position: absolute;
  z-index: 2;
  margin-top: -100px;
  margin-left: 755px;
  width: 500px;
  height: 500px;
}
.mySwiperBox .imageBW {
  width: 0;
  height: 0;
}
.mySwiperBox .imageC {
  z-index: 100;
  width: 343px;
  height: 343px;
  margin-top: 30px;
  margin-left: 117px;
}
.mySwiperBox .contend {
  margin-left: 30px;
  display: block;
}
.mySwiperBox .contend .slide-name {
  margin-top: 70px;
  width: 156px;
  color: #fff;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 33px;
}
.mySwiperBox .contend .slide-description {
  margin-top: 25px;
  width: 156px;
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
}
.mySwiperBox .contend .linkTeams {
  z-index: 100;
  width: 40px;
  height: 40px;
  margin-top: 115px;
  margin-left: 0px;
}
.mySwiperBox .swiper-slide .contend {
  transition: 300ms;
  opacity: 0;
}
.mySwiperBox .swiper-slide img {
  transition: 300ms;
  opacity: 0;
}
.mySwiperBox .swiper-slide-active .contend {
  transition: 300ms;
  opacity: 1;
}
.mySwiperBox .swiper-slide-active img {
  transition: 300ms;
  opacity: 1;
}

@media only screen and (max-width: 375px) {
  #ourTeam {
    /* display: none; */
    margin-top: 0vw;
    margin-bottom: 30vw;
    width: 100vw;
    height: min-content;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #ourTeam .swiperBox {
    margin-top: 30vw;
    margin-left: 0vw;
    width: 90vw;
    height: 75vw;
    position: relative;
    z-index: 1;
    display: flex;
    border-radius: 8vw;
    background: linear-gradient(119deg, #bd00ff 21.38%, #3604c3 129.88%);
  }
  #ourTeam .slider-name {
    position: absolute;
    width: 90vw;
    height: 50vw;
    display: block;
    margin-top: 0vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* display: none; */
  }
  #ourTeam .slider-name div {
    margin-top: 50vw;
  }
  #ourTeam h2 {
    color: #fcfcfc;
    text-align: center;
    font-size: 9vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: block;
  }
  #ourTeam .mySwiper {
    display: none;
  }
  #ourTeam .mySwiperBox {
    /* margin-top: -100px;
    margin-left: 10vw;
    margin-top: 20vw; */
    /* margin-top: -25px; */
    margin-top: 20vw;
    margin-left: 0;
    width: 90vw;
    height: 85vw;
    position: absolute;
    z-index: 2;
  }
  #ourTeam .swiper-wrapper {
    width: 85vw;
    height: 85vw;
  }
  #ourTeam .swiper-slide {
    display: flex;
    width: 85vw;
    height: 85vw;
    border-radius: 32px;
    /* background: linear-gradient(119deg, #bd00ff 21.38%, #3604c3 129.88%); */
  }
  .mySwiperBox .imageBW {
    width: 0;
    height: 0;
  }
  .mySwiperBox .imageC {
    z-index: 1;
    width: 85vw;
    height: 85vw;
    margin-top: 0vw;
    margin-left: 10vw;
    display: block;
  }
  .mySwiperBox .contend {
    margin-left: 5vw;
    display: block;
  }
  .mySwiperBox .contend .slide-name {
    margin-top: 25vw;
    width: 30vw;
    color: #fff;
    font-family: Montserrat;
    font-size: 5vw;
    font-style: normal;
    font-weight: 700;
    line-height: 6vw;
  }
  .mySwiperBox .contend .slide-description {
    margin-top: 5vw;
    width: 30vw;
    color: #fff;
    font-family: Montserrat;
    font-size: 3vw;
    font-style: normal;
    font-weight: 500;
    line-height: 4vw;
  }
  .mySwiperBox .contend .linkTeams {
    z-index: 100;
    width: 9vw;
    height: 9vw;
    margin-top: 18vw;
    margin-left: 2vw;
  }
  .mySwiperBox .swiper-slide .contend {
    transition: 300ms;
    opacity: 0;
  }
  .mySwiperBox .swiper-slide img {
    transition: 300ms;
    opacity: 0;
  }
  .mySwiperBox .swiper-slide-active .contend {
    transition: 300ms;
    opacity: 1;
  }
  .mySwiperBox .swiper-slide-active img {
    transition: 300ms;
    opacity: 1;
  }
}
