@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&family=Open+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&family=Open+Sans:wght@700&family=Poppins:wght@300;400;500;600;700;800&display=swap');
::-webkit-scrollbar {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background: linear-gradient(119deg, #bd00ff 21.38%, #3604c3 129.88%);
}
* {
  color: #ffffff;
  list-style: none;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
body {
  font-family: 'Montserrat', sans-serif;
  background-color: #020202;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.borderText {
  font-weight: 800;
  font-family: 'Poppins', sans-serif;
  -webkit-text-fill-color: #000;
  -webkit-text-stroke: 1.5px #fff;
  letter-spacing: 2.5px;
}
main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main > img {
  /* max-width: 100vw; */
}
h3 {
  color: #fff;
  text-align: start;
  font-family: Montserrat;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
}

.gridBox {
  display: grid;
}
#organicShop h3 {
  width: 940px;
  font-weight: 800;
  margin-bottom: 64px;
}
#organicShop {
  margin-top: 64px;
}
#organicShop h4 {
  width: 940px;
  color: #50d13b;
  font-size: 24px;
  font-weight: 400;
  text-align: start;
}
.organicShopImage {
  width: 100%;
}

#aboutProject {
  width: 1180px;
  margin-top: 131px;
  display: flex;
  align-items: center;
}
#aboutProject div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  text-align: start;
  gap: 48px;
}
.aboutProjectBr {
  display: block;
  margin: 0 110px;
  width: 2px;
  height: 200px;
  background: radial-gradient(
    4979852.87% 58.76% at 50% 49.67%,
    rgba(163, 163, 163, 0.7) 0%,
    rgba(117, 117, 117, 0) 89.9%
  );
}
#aboutProject h3 {
  text-wrap: nowrap;
}
#aboutProject p {
  width: 25vw;
  color: #cfcfcf;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

#goalsAndObjectives {
  width: 1180px;
  margin: 140px 0;
}
#goalsAndObjectives ul {
  margin-top: 48px;
  display: flex;
  gap: 28px;
}
#goalsAndObjectives li {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
#goalsAndObjectives li h4 {
  margin-right: 36px;

  text-align: center;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
}
#goalsAndObjectives li h4 span {
  font-style: normal;
  font-weight: 600;
}
#goalsAndObjectives li h4::after {
  content: '.';
  text-align: center;
  font-family: Montserrat;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;

  background: linear-gradient(119deg, #bd00ff 21.38%, #3604c3 129.88%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#goalsAndObjectives li p {
  width: 200px;
  color: #cfcfcf;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

#mainPage {
  width: 1180px;
  margin: 140px 0;
}
#mainPage h3 {
  margin-bottom: 64px;
}
#mainPage div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#mainPage div img:nth-child(1) {
  border-radius: 40px;
  border: 10px solid #595959;

  width: 1180px;
}
#mainPage div img:nth-child(2) {
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  width: 815px;
}

#internalPages {
  margin: 140px 0;
  display: flex;
  gap: 140px;
}
#internalPages div {
  display: flex;
  flex-direction: column;
  gap: 140px;
}
#internalPages div img {
  border-radius: 40px;
  border: 5px solid #595959;
  width: 500px;
}

#nav {
  margin-bottom: 140px;
  display: flex;
  width: 1180px;
  height: 26px;
  padding: 10px 120px;
  justify-content: space-between;
  align-items: center;
  border-radius: 40px;
  background: #181818;
}
#nav a {
  display: block;
  align-items: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  color: #cfcfcf;
}
#nav div {
  display: flex;
  align-items: center;
  gap: 16px;
}
#nav div img {
  display: flex;
  align-items: center;
  width: 20px;
  height: 20px;
}

@media screen and (max-width: 375px) {
  main > img {
    width: 100vw;
  }
  main {
    align-items: center;
  }
  main h3 {
    font-family: Montserrat;
    font-size: 10.667vw;
    font-style: normal;
    font-weight: 700;
  }
  #organicShop h3 {
    font-weight: 700;
    font-size: 9vw;
    width: 66.4vw;
  }
  #organicShop h4 {
    width: 66.4vw;
    font-size: 6.4vw;
  }
  #organicShop {
    margin-top: 0;
    width: 91.467vw;
    margin-top: 13vw;
    padding: 0 4vw;
  }
  .organicShopImage {
    height: 36vw;
    object-fit: cover;
  }
  #aboutProject {
    width: 100vw;
    margin-top: 18vw;
    padding: 0;
    gap: 6.4vw;
    flex-direction: column-reverse;
  }
  #aboutProject img {
    width: 76vw;
  }
  #aboutProject div {
    flex-wrap: wrap;
    gap: 9vw;
  }
  #aboutProject p {
    width: 91.467vw;
    font-size: 4.267vw;
    font-weight: 400;
    line-height: 6.933vw;
  }
  .aboutProjectBr {
    height: 0.533vw;
    width: 53.333vw;
    background: radial-gradient(
      4979852.87% 58.76% at 50% 49.67%,
      rgba(163, 163, 163, 0.7) 0%,
      rgba(117, 117, 117, 0) 89.9%
    );
    background: radial-gradient(
      circle,
      rgba(163, 163, 163, 0.7) 0%,
      rgba(0, 0, 0, 0) 89.9%
    );
    margin: 0;
  }
  #aboutProject .borderText {
    display: block;
    font-weight: 700;
  }
  .aboutProject {
    width: 76vw;
    height: 21vw;
  }
  .titleparagraphs {
    font-size: 11vw;
    font-weight: 700;
  }
  #goalsAndObjectives {
    margin: 17vw 0 13vw;
    padding: 0 4vw;
    width: auto;
  }
  #goalsAndObjectives ul {
    margin-top: 12.8vw;
    display: block;
  }
  #goalsAndObjectives li h4 {
    margin-right: 4.267vw;

    text-align: center;
    font-size: 17.067vw;
    font-style: normal;
    font-weight: 600;
  }
  #goalsAndObjectives li h4 span {
    font-style: normal;
    font-weight: 600;
  }
  #goalsAndObjectives li h4::after {
    content: '.';
    text-align: center;
    font-family: Montserrat;
    font-size: 17.067vw;
    font-style: normal;
    font-weight: 600;

    background: linear-gradient(119deg, #bd00ff 21.38%, #3604c3 129.88%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  #goalsAndObjectives li p {
    width: 100%;
    color: #cfcfcf;
    font-family: Montserrat;
    font-size: 4.267vw;
    font-style: normal;
    font-weight: 400;
    line-height: 6.933vw;
  }
  #mainPage {
    margin: 13vw 4vw;
    width: auto;
  }
  #mainPage h3 {
    margin-bottom: 6vw;
  }
  #mainPage div img:nth-child(1) {
    border: 0.8vw solid var(--grey-B, #595959);
    border-radius: 5.333vw;
    width: 91vw;
  }
  #mainPage div img:nth-child(2) {
    border-radius: 0 0 5.333vw 5.333vw;
    width: 63vw;
  }
  #internalPages div:nth-child(2) {
    margin-top: 36.8vw;
  }
  #internalPages div {
    display: flex;
    flex-direction: column;
    gap: 7vw;
  }
  #internalPages div img {
    border-radius: 5.333vw;
    border: 0.267vw solid #595959;
    width: 41vw;
  }
  #internalPages {
    margin: 13vw 0;
    display: flex;
    gap: 4vw;
    padding: 0 4.267vw;
  }
  #nav {
    padding: 2.667vw 4.267vw;
    width: 91.467vw;
    justify-content: space-between;
    margin-bottom: 12.8vw;
  }

  #nav a {
    display: block;
    align-items: center;
    font-family: Montserrat;
    font-size: 4.267vw;
    font-style: normal;
    font-weight: 400;
    line-height: 6.933vw;
    color: #cfcfcf;
  }
  #nav div {
    display: flex;
    align-items: center;
    gap: 4.267vw;
  }
  #nav img {
    display: block;
    width: 5.333vw;
    height: 5.333vw;
  }
}
